<header>
  <img src="https://avatars.githubusercontent.com/u/57847618?v=" alt="Avatar do usuario">
  <h1>Bootcamp DIO</h1>
</header>

<section>
  <header>
    <h2>Posts</h2>
  </header>
  <article>
    <header>
      <h3>Post 1</h3>
      <img src="https://avatars.githubusercontent.com/u/57842618?v=4" alt="">
    </header>
    <p><a href="https://www.loremipzum.com/pt/gerador-de-texto" target="_blank">Loren Ipsum</a></p>
    <p><a href="https://www.loremipzum.com/pt/gerador-de-texto">Loren Ipsum</a></p>
  </article>
</section>

<footer></footer>
