<header id="header" class="header">
  <img src="https://avatars.githubusercontent.com/u/57847618?v=" alt="Avatar do usuario">
  <h1 id="title">Bootcamp DIO</h1>
</header>

<section>
  <header>
    <h2 class="subtitle">Posts</h2>
  </header>
  <article class="post">
    <header>
      <h3 class="postTitle">Post 1</h3>
      <img src="https://avatars.githubusercontent.com/u/57842618?v=4" alt="">
    </header>
    <p class="post_content"><a href="https://www.loremipzum.com/pt/gerador-de-texto" target="_blank">Loren Ipsum</a></p>
    <p><a href="https://www.loremipzum.com/pt/gerador-de-texto">Loren Ipsum</a></p>
  </article>
</section>

<footer>
  <ol>
    <li>
      <a href="mailto:leandrobaroni2103@hotmail.com">Email: Leandro</a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/leandro-baroni-06269118a/">LinkedIn</a>
    </li>
    <li>
      <a href="https://github.com/LeandroBaroni" target="_blank">GitHub</a>
    </li>
  </ol>
</footer>
